/* Code Snippet section */
.get-start-container{
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.snippet-wrapper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6em;
}

.image-container{
    width: 90%;
    margin-right: 2em;
}
.image-container img{
    width: 100%;
}
.support-container{
    width: 90%;
    display: flex;
    margin-left: 2em;
    margin-bottom: 1.5em;
    flex-direction: row;
    color: var(--textColorLight);
    justify-content: space-between
}
.circle{
    font-size: 1.6em;
}
.purple{
    color:rgb(199, 130, 199);
}
.yellow{
    color: yellow;
}
.support-title{
    margin-left: 0.6em;
}
.support-title h3{
    margin-bottom: 0.6em;
}

.support-title p{
    font-size: 1em;
}

/* work with our framework section */
.work-with{
    text-align: center;
    color: var(--textColorLight);
    width: 50%;
    margin: 0 auto;
}

.work-with h3{
    font-size: 2em;
    font-weight: lighter;
    margin-bottom: 1em;
}

.work-support-framework{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.framework{
    font-size: 1.5em;
    cursor: pointer;
}

.framework:hover{
    color: var(--mainColorLight);
}

@media only screen and (max-width: 1024px){
    .snippet-wrapper{
        flex-direction: column;
    }

    .image-container{
        margin-bottom: 2em;
        width: 100%;
    }

    .work-support-framework{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}