
.hero{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 6em;
}

.copy{color: var(--secondaryColor);}
.paste,.test{color: var(--textColorLight);}

.title-wrapper{
    border: 2px solid var(--mainColor);
    padding: 2em 5em;
}

.docs-btn{
    background-color: var(--textColorLight);
    color: var(--textColorDark);
    padding: 0.3em 0.5em;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    margin-top: 1.5em;
}

.docs-btn:hover{
    background: transparent;
    color: var(--textColorLight);
    transition: all 0.5s ease-out;
}

.para-container{
    margin: 3em 0;
    width: 65%;
    text-align: center;
}
.desc{
    color: var(--textColorLight);
    font-size: 1.3em;
    line-height: 30px;
    text-decoration: none;
}

.desc a{
    color: var(--mainColorLight);
    text-decoration: none;
}
/* Get start section */

.get-start-wrapper{
    width: 100%;
    text-align: center;
    color: var(--textColorLight);
}

.get-start-title-container{
    width: 80%;
    margin: 0 auto;
    line-height: 40px;
    margin-bottom: 2em;
}

.get-start-title{
    font-size: 2em;
    font-weight: lighter;
}

.languges{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: var(--textColorLight);
    margin-bottom: 2em;

}

.languges a{
    display: flex;
    justify-content: center;
    color: var(--textColorLight);
    text-decoration: none;
    border: 1px solid var(--mainColorLight);
    padding: 0.4em 0.7em;
    border-radius: 5px;
}

.languges a:hover{
    background-color: var(--mainColorLight);
}

.language{
    font-size: 0.9em;
    margin-right: 0.3em;
}

.active{
    background-color: var(--mainColorLight);
}

@media only screen and (max-width: 1024px){
    .languges{
        width: 90%;
        display: block;
    }

    .languges a{
        display: flex;
        margin-bottom: 1em;
    }
    .para-container{
        width: 90%;
        text-align: center;
    }
}
