footer{
    background-color: #1c3b5a;
    color: #FDFEF8;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.head {
    font-size: 18px;
}

.grid {
    display: grid;
    grid-template-columns: 10% 30% 30% 30% ;
    
    padding: 100px 50px 10px 50px;
    font-size: small;
}

.grid a {
    text-decoration: none;
    color: #FDFEF8;
}

.grid ul {
    list-style-type: none;
}

.right {
    padding: 0 5%;
}

.logo {
    padding: 0 0.5%;
}